<nav role="navigation" style="background: dimgray;box-shadow:none;color:white;">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><img src="assets/images/GNOME_Web_logo.png" width="60px" height="60px"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/" class="white-text">Portfolio</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="/">Portfolio</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div style="background: dimgray;color:white;border-bottom: 6px solid dimgray">
  <div class="container">
    <h3 style="text-align: center;font-size: 58px;">Jon Jackson</h3>
    <h6 style="text-align: center;margin-bottom: 10px;font-size: 22px;">Full Stack Web Development</h6>
  </div>
</div>

<div class="container">
  <div class="section" style="padding-top: 2rem;">
    <section class="main-section">
      <h1>Contact Me</h1>
      <form>
        <div class="form-group">
          <label for="contact-name">Name</label>
          <input type="text" class="form-control" id="contact-name" placeholder="John Smith">
        </div>
        <br>
        <div class="form-group">
          <label for="contact-email">Email address</label>
          <input type="email" class="form-control" id="contact-email" placeholder="example@gmail.com">
        </div>
        <br>
        <div class="form-group">
          <label for="contact-text">Message</label>
          <textarea class="form-control" id="contact-text" rows="3"></textarea>
        </div>
        <button type="button" type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false"
          autocomplete="off">Submit</button>
        <span id="message"></span>
      </form>
    </section>
  </div>
</div>

<footer class="page-footer" style="background:dimgray;">
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col l6 s12">
        <div class="row center">
          <div class="col s12 socialbar" style="margin: 0 auto;">
            <a href="https://www.facebook.com/jon.r.jackson.9" class="fa fa-facebook" target="blank"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter" target="blank"></a>
            <a href="http://www.linkedin.com/in/jon-jackson-27230429" class="fa fa-linkedin" target="blank"></a>
          </div>
        </div>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">GitHub</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/ocskier"><img src="assets/images/GitHub-Mark-Light-120px-plus.png"
                width="30px" height="30px"></a></li>

        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text"><a class="white-text" href="../Api-Ajax-Hw/index.html">Connect</a></h5>
        <ul>
          <li><a class="white-text" href="index.html">Portfolio</a></li>
          <li>Phone</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="assets/javascript/app.js"></script>
<script>
  (function($){
    $(function(){

      $('.sidenav').sidenav();

    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>