/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Kaushan Script', cursive;
  background: rgb(81, 115, 141);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
h3 {
  margin: 0px 0 10px 0;
}
.sidenav-trigger {
  color: #26a69a;
}

.main-section {
  overflow: auto;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 auto 40px;
  background: #fff;
  border: 4px solid #777;
  border-radius: 8px;
}
form {
  padding-bottom: 20px;
}

.socialbar {
  text-align: center;
  padding: 0px;
  margin: 10px;
  border-radius: 8px;
  background: transparent;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 65px;
  text-align: center; 
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: rgb(15, 120, 201);
  color: white;
}
.parallax-container {
  min-height: 180px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.mycard {
    width: 90%;
    margin: 10px auto;
    border: 5px solid #666666;
    border-radius: 30px;
}

.mycardbody {
    padding: 18px;
}

.ctr-txt {
    text-align: center;
    color: black;
}
.tab { 
  display:inline-block; 
  margin-left: 40px; 
}
.mycard-a {
    z-index: 999;
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    }


  @media only screen and (max-width : 1264px) {
      .mycard {
        height: 182px;
      }
    }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .mycard {
    height: 212px;
  }
}


@media only screen and (max-width : 876px) {
  .mycard {
    height: 200px;
  }
}
@media only screen and (max-width : 768px) {
  .mycard {
    height: 186px;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .mycard {
    height: 100%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
